@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
    width: 100vw;
  }

  h2 {
    font-size: 47px;
    line-height: 61px;
    letter-spacing: -1px;
  }

  h3 {
    font-size: 34px;
    line-height: 50px;
  }

  h4 {
    font-size: 30px;
    line-height: 50px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 41px;
  }
  p img {
    width: 25px;
    height: 25px;
    -webkit-transform: translateY(15%) scale(1.92);
            transform: translateY(15%) scale(1.92);
    margin: 0 12px;
  }

  .o-container {
    max-width: 390px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .u-a::after {
    bottom: 2px;
  }

  .u-underline {
    -webkit-text-decoration: underline 1px;
            text-decoration: underline 1px;
    text-underline-offset: 3px;
  }

  .u-show--mobile {
    display: unset !important;
  }

  .u-hide--mobile {
    display: none !important;
  }

  .u-rainbow {
    display: inline;
    padding-right: unset;
  }
  .u-rainbow::after {
    width: 305px;
    height: 47px;
    top: 2.9px;
    left: -9px;
  }

  .u-dot {
    width: 5px;
  }

  .c-typed-text__wrapper {
    min-height: 132px;
    display: inline-block;
  }

  .c-header {
    margin-top: 11px;
  }

  .c-header__logo {
    width: 108px;
  }

  .c-header__desc {
    width: 219px;
  }

  .c-main {
    margin-top: 42px;
  }

  .c-main__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: calc(100vh - 400px);
  }
  .c-main__img img {
    max-width: 100%;
    height: 100%;
  }

  .c-main-buttons__wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
    margin: 18px 0 24px;
  }

  .c-button {
    width: 100%;
    height: 48px;
    font-size: 22px;
    line-height: 48px;
  }
  .c-button::after, .c-button::before {
    display: none;
  }

  .c-subtitle-block .o-container,
.c-intro .o-container {
    max-width: 100%;
  }

  .c-subtitle-block {
    padding: 32px 0 240px;
  }
  .c-subtitle-block h2 {
    font-size: 43px;
    line-height: 66px;
  }
  .c-subtitle-block h2 .u-red::after {
    height: 61px;
    top: unset;
    bottom: -32px;
    right: -20px;
  }
  .c-subtitle-block::after {
    width: 54px;
    height: 54px;
    background-image: unset;
    background-color: #e6ff83;
    bottom: 0;
    right: 0;
    -webkit-transform: unset;
            transform: unset;
  }

  .c-angry-robot {
    width: 68px;
    right: 261px;
    bottom: 140px;
    -webkit-animation: moveXmobile 6s linear 0s infinite alternate, moveYmobile 10s linear 0s infinite alternate;
            animation: moveXmobile 6s linear 0s infinite alternate, moveYmobile 10s linear 0s infinite alternate;
  }

  .c-intro {
    padding: 30px 0 48px;
  }
  .c-intro h2 {
    font-size: 36px;
    line-height: 59px;
  }
  .c-intro h2 br {
    display: none;
  }
  .c-intro .c-logo--text {
    width: 118px;
  }
  .c-intro .c-dog {
    width: 70px;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .c-intro::after {
    width: 54px;
    height: 54px;
  }

  .c-info {
    overflow-x: hidden;
    padding: 62px 0 37px;
  }
  .c-info h2 {
    font-size: 47px;
    line-height: 61px;
    margin-right: -12px;
    margin-bottom: 45px;
  }
  .c-info h2 br {
    display: none;
  }
  .c-info h4 {
    margin-bottom: 26px;
  }
  .c-info p {
    max-width: 100%;
    padding-left: unset;
    margin-bottom: 44px !important;
  }

  .c-info__nfc {
    display: block;
    padding-left: unset;
    margin-bottom: 50px;
  }
  .c-info__nfc .c-connection-video--mobile {
    position: absolute;
    top: 60px;
    left: 10px;
    width: calc(100% - 20px);
  }
  .c-info__nfc .c-hito-orange {
    -webkit-transform: unset;
            transform: unset;
    -webkit-animation: unset;
            animation: unset;
    margin-top: unset;
    margin-right: unset;
    width: 134px;
  }
  .c-info__nfc .c-phone-nfc__wrapper {
    margin-right: unset;
  }
  .c-info__nfc .c-phone-nfc {
    width: 164px;
    margin-right: unset;
  }
  .c-info__nfc .c-phone-nfc__img {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .c-info__text {
    font-size: 13px;
    line-height: 23px;
    max-width: 287px;
    display: block;
    margin-top: 25px;
  }
  .c-info__text::before {
    width: 10px;
    height: 15px;
    margin-bottom: 6px;
  }

  .c-info__size {
    padding-left: unset;
    margin-bottom: 58px;
  }
  .c-info__size .c-hito-size {
    max-width: 312px;
    width: 100%;
    margin: 0 auto;
  }

  .c-explore__wrapper {
    padding-left: unset;
  }

  .c-explore__cards {
    max-width: 324px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 48px;
  }

  .c-explore__card {
    height: 324px;
    padding: 26px 17px 0;
  }
  .c-explore__card p {
    font-size: 20px;
    line-height: 32px;
  }
  .c-explore__card p b {
    font-size: 26px;
    line-height: 40px;
  }

  .c-explore__cards--security {
    margin-bottom: 46px;
  }
  .c-explore__cards--security .c-explore__card::before, .c-explore__cards--security .c-explore__card::after {
    width: 48px !important;
    height: 48px !important;
  }
  .c-explore__cards--security .c-explore__card:nth-child(2)::before {
    bottom: unset;
    left: unset;
    top: 0;
    right: 0;
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  .c-explore__cards--security .c-explore__card:nth-child(2)::after {
    content: "";
    width: 48px;
    height: 48px;
    background-color: #ecf5ee;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .c-explore__cards--security .c-explore__card:nth-child(3)::before {
    left: 48px;
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .c-explore__cards--security .c-explore__card:nth-child(3)::after {
    background-color: #252926;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  .c-explore__cards--features .c-explore__card::before, .c-explore__cards--features .c-explore__card::after {
    width: 48px !important;
    height: 48px !important;
  }
  .c-explore__cards--features .c-explore__card:nth-child(1)::after {
    background-color: #252926;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .c-explore__cards--features .c-explore__card:nth-child(2)::before {
    bottom: unset;
    left: unset;
    top: 0;
    right: 48px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .c-explore__cards--features .c-explore__card:nth-child(2)::after {
    content: "";
    width: 48px;
    height: 48px;
    background-color: #ecf5ee;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .c-explore__cards--features .c-explore__card:nth-child(3)::before {
    top: unset;
    left: unset;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  .c-explore__cards--features .c-explore__card:nth-child(4)::before {
    content: "";
    width: 48px;
    height: 48px;
    background-color: #252926;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .c-cat {
    width: 198px;
    height: 90px;
    bottom: 15px;
    left: unset;
    right: 20px;
  }

  .c-explore {
    max-width: 100vw;
    overflow-x: hidden;
    padding-bottom: 200px;
  }
  .c-explore h2 {
    margin-bottom: 30px;
  }
  .c-explore h3 {
    margin-bottom: 10px;
  }

  .c-accordion__wrapper {
    margin: 0;
    max-width: 100%;
  }

  .c-accordion__btn {
    font-size: 24px;
    line-height: 35px;
    height: 100px;
  }
  .c-accordion__btn::after {
    width: 12px;
    height: 20px;
  }

  .c-panel p {
    font-size: 20px;
    line-height: 32px;
    padding: 0 0 10px;
  }

  .c-accordion::before {
    height: 2px;
    background-size: cover;
  }

  .c-footer {
    padding: 36px 10px;
  }

  .c-footer__logo {
    width: 88px;
  }

  .c-footer__text {
    font-size: 14px;
    line-height: 25px;
  }

  .c-join {
    margin: 38px 0;
  }
  .c-join::before, .c-join::after {
    width: 364px;
    height: 12px;
    background-image: url("../img/block-border-mobile.png");
    background-size: contain;
    background-position: center;
  }
  .c-join h2 {
    margin-top: 58px !important;
    margin-bottom: 33px;
    font-size: 36px;
    line-height: 50px;
  }
  .c-join p {
    line-height: 41px;
    margin-bottom: 43px;
    max-width: 100%;
  }
  .c-join p .c-gift {
    -webkit-transform: translateY(35%) scale(1.92);
            transform: translateY(35%) scale(1.92);
  }
  .c-join .c-button--black:last-child {
    margin-bottom: 58px;
  }

  .c-button--black {
    width: 100%;
    height: 54px;
    font-size: 20px;
    line-height: 50px;
  }

  .c-info__display {
    padding-left: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 56px;
  }
  .c-info__display .c-hito-display {
    width: 201px;
    margin-right: unset;
  }

  .c-cursor {
    margin-left: 10px;
    width: 1px;
  }
}