* {
  color: #252926;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Mono";
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ecf5ee;
}

h2 {
  font-weight: 700;
  font-size: 4.16vw;
  line-height: 6.04vw;
}

h3 {
  font-family: "Roboto";
  font-size: 3.05vw;
  line-height: 3.47vw;
  margin-bottom: 0.83vw;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-weight: 700;
  font-size: 2.08vw;
  line-height: 3.47vw;
  text-transform: uppercase;
  margin-bottom: 1.38vw;
}

b {
  font-weight: 700;
}

p {
  font-weight: 300;
  font-size: 2.08vw;
  line-height: 3.47vw;
}
p img {
  -webkit-transform: translateY(15%) scale(1.54);
          transform: translateY(15%) scale(1.54);
  width: 2.36vw;
  margin: 0 0.69vw;
}

button {
  cursor: pointer;
}

.u-red {
  color: #ff5151;
}

.u-purple {
  color: #8b62ff;
}

.u-rainbow {
  padding-right: 3.47vw;
  position: relative;
}
.u-rainbow::after {
  content: "";
  position: absolute;
  top: 0.65vw;
  left: -0.41vw;
  width: 100%;
  height: 3.75vw;
  z-index: -1;
  background-image: url("../img/rainbow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.u-color--pink {
  color: rgb(253, 151, 255);
}

.u-color--green {
  color: rgb(194, 255, 93);
}

.u-color--teal {
  color: rgb(0, 255, 194);
}

.u-color--purple {
  color: rgb(178, 176, 255);
}

.u-color--yellow {
  color: rgb(230, 255, 131);
}

.u-color--aqua {
  color: rgb(80, 255, 244);
}

.u-color--orange {
  color: rgb(252, 255, 93);
}

.u-show--mobile {
  display: none;
}

.u-a {
  text-decoration: none;
  position: relative;
}
.u-a::after {
  content: "";
  height: 0.07vw;
  width: 100%;
  position: absolute;
  background-color: #252926;
  bottom: 0.27vw;
  left: 0;
}

.u-underline {
  -webkit-text-decoration: underline 0.07vw;
          text-decoration: underline 0.07vw;
  text-underline-offset: 0.21vw;
}

.o-container {
  padding: 0 4.16vw;
}

.c-header {
  margin-top: 1.31vw;
}

.c-header__logo {
  width: 8.4vw;
  display: inline-block;
  margin-right: 0.97vw;
}
.c-header__logo img {
  width: 100%;
}

.c-header__desc {
  display: inline-block;
  width: 15.2vw;
}
.c-header__desc img {
  width: 100%;
}

.c-main {
  margin-top: 6.25vw;
}

.c-main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-main__img {
  max-width: 64.79vw;
  margin-bottom: 7.5vw;
}
.c-main__img img {
  width: 100%;
}

.c-main-buttons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.59vw;
     -moz-column-gap: 1.59vw;
          column-gap: 1.59vw;
}

.c-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 23.61vw;
  height: 3.75vw;
  border: 0;
  font-weight: 700;
  font-size: 2.08vw;
  line-height: 3.47vw;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #252926;
}

.c-button--green {
  background: #00ff39;
}
.c-button--green::before {
  content: "";
  width: 100%;
  height: 3.54vw;
  background-image: url("../img/green-btn-before.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  position: absolute;
  top: 0.07vw;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  pointer-events: none;
}

.c-button--yellow {
  background: #e6ff83;
}
.c-button--yellow::before {
  content: "";
  width: 100%;
  height: 3.54vw;
  background-image: url("../img/yellow-btn-before.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  position: absolute;
  top: 0.07vw;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  pointer-events: none;
}
.c-button--yellow::after {
  content: "";
  width: 4.86vw;
  height: 8.68vw;
  background-image: url("../img/rabbit.gif");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: -1.94vw;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  pointer-events: none;
}

.c-subtitle-block {
  background-color: #252926;
  background-size: cover;
  padding: 10.41vw 0 14.23vw;
  position: relative;
  z-index: 2;
  margin-top: 3.75vw;
}
.c-subtitle-block h2 {
  color: #e0ede3;
}
.c-subtitle-block h2 .u-red {
  position: relative;
}
.c-subtitle-block h2 .u-red::after {
  display: none;
  content: "";
  width: 0.07vw;
  height: 5vw;
  position: absolute;
  top: 50%;
  right: -1.04vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #00ff39;
}
.c-subtitle-block::after {
  content: "";
  width: 7.5vw;
  height: 10.97vw;
  background-image: url("../img/subtitle-block-after.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 3.68vw;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.c-angry-robot {
  position: absolute;
  width: 4.79vw;
  bottom: 16.18vw;
  right: 13.88vw;
  -webkit-animation: moveX 6s linear 0s infinite alternate, moveY 10s linear 0s infinite alternate;
          animation: moveX 6s linear 0s infinite alternate, moveY 10s linear 0s infinite alternate;
}
.c-angry-robot img {
  width: 100%;
}

@-webkit-keyframes moveX {
  from {
    right: 30.88vw;
  }
  to {
    right: 0vw;
  }
}

@keyframes moveX {
  from {
    right: 30.88vw;
  }
  to {
    right: 0vw;
  }
}
@-webkit-keyframes moveY {
  from {
    bottom: calc(100% - 4.79vw);
  }
  to {
    bottom: 5vw;
  }
}
@keyframes moveY {
  from {
    bottom: calc(100% - 4.79vw);
  }
  to {
    bottom: 5vw;
  }
}
@-webkit-keyframes moveXmobile {
  from {
    right: calc(100% - 68px);
  }
  to {
    right: 0;
  }
}
@keyframes moveXmobile {
  from {
    right: calc(100% - 68px);
  }
  to {
    right: 0;
  }
}
@-webkit-keyframes moveYmobile {
  from {
    bottom: 180px;
  }
  to {
    bottom: 0;
  }
}
@keyframes moveYmobile {
  from {
    bottom: 180px;
  }
  to {
    bottom: 0;
  }
}
.c-intro {
  background-color: #e6ff83;
  padding: 8.125vw 0 11.11vw;
  position: relative;
}
.c-intro .c-logo--text {
  width: 13.4vw;
}
.c-intro .c-dog {
  width: 4.86vw;
  -webkit-transform: translateY(8%);
          transform: translateY(8%);
}
.c-intro::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3.75vw;
  height: 3.75vw;
  background-color: #ecf5ee;
}

.c-info {
  padding-top: 8.26vw;
  position: relative;
}
.c-info h2 {
  text-transform: uppercase;
  margin-bottom: 5.06vw;
}

.c-info p {
  max-width: 69.375vw;
  padding-left: 3.4vw;
  margin-bottom: 6.45vw;
}
.c-info .u-margin-fix {
  margin-bottom: 5.625vw;
}

.c-info__text {
  font-size: 0.9vw;
  line-height: 1.59vw;
  max-width: 14.3vw;
}
.c-info__text::before {
  content: "";
  display: block;
  margin-bottom: 0.41vw;
  width: 0.69vw;
  height: 1.04vw;
  background-image: url("../img/arrow-right.svg");
  background-size: cover;
}

.c-info__nfc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.4vw;
  margin-bottom: 6.66vw;
}
.c-info__nfc .c-phone-nfc__wrapper {
  position: relative;
  margin-right: 18.33vw;
}
.c-info__nfc .c-phone-nfc__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-info__nfc.animate .c-connection-video {
  -webkit-animation: connection 8s 2s ease;
          animation: connection 8s 2s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.c-info__nfc.animate .c-hito-orange {
  -webkit-animation: hito-animation 4s 2s ease-in-out;
          animation: hito-animation 4s 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.c-info__nfc .c-connection-video {
  position: absolute;
  top: 4.16vw;
  left: 0.69vw;
  width: calc(100% - 1.38vw);
  opacity: 0;
  visibility: hidden;
}
.c-info__nfc .c-phone-nfc {
  width: 11.38vw;
}
.c-info__nfc .c-hito-orange {
  margin-top: 7.22vw;
  width: 9.3vw;
  margin-right: 3.75vw;
}

@-webkit-keyframes connection {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  51% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes connection {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  51% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes hito-animation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-19.79vw);
            transform: translateX(-19.79vw);
  }
}
@keyframes hito-animation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-19.79vw);
            transform: translateX(-19.79vw);
  }
}
.c-info__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3.4vw;
  margin-bottom: 6.66vw;
}
.c-info__display .c-hito-display {
  width: 49.375vw;
  margin-right: 3.75vw;
}
.c-info__display .c-info__text {
  margin-top: 4.16vw;
}

.c-info__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.04vw;
  margin-bottom: 6.66vw;
}
.c-info__size .c-lighter {
  margin: 4.09vw 6.73vw 0 3.95vw;
  width: 6.04vw;
  height: 25.76vw;
  position: relative;
}
.c-info__size .c-lighter .c-lighter__gif {
  width: 2.43vw;
  position: absolute;
  top: -0.97vw;
  left: 0.69vw;
}
.c-info__size .c-lighter .c-lighter__img {
  width: 5.69vw;
  position: absolute;
  bottom: 0;
  right: 0;
}
.c-info__size .c-hito-size {
  width: 33.125vw;
  margin-right: 3.75vw;
}

.c-explore {
  position: relative;
  padding-top: 0.76vw;
}
.c-explore h2 {
  text-transform: uppercase;
  margin-bottom: 4.51vw;
}

.c-explore__wrapper {
  padding-left: 8.33vw;
}

.c-explore__cards {
  max-width: 75vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3.75vw 1fr 3.75vw 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 3.75vw;
     -moz-column-gap: 3.75vw;
          column-gap: 3.75vw;
  row-gap: 3.75vw;
}

.c-explore__cards--security {
  margin-bottom: 3.19vw;
}
.c-explore__cards--security .c-explore__card:nth-child(1)::after {
  content: "";
  width: 3.75vw;
  height: 3.75vw;
  background-color: #ecf5ee;
  position: absolute;
  top: 0;
  right: 0;
}
.c-explore__cards--security .c-explore__card:nth-child(2)::before {
  content: "";
  width: 3.75vw;
  height: 3.75vw;
  background-color: #252926;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.c-explore__cards--security .c-explore__card:nth-child(3)::before {
  content: "";
  width: 3.75vw;
  height: 3.75vw;
  background-color: #252926;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.c-explore__cards--security .c-explore__card:nth-child(3)::after {
  content: "";
  width: 3.75vw;
  height: 3.75vw;
  background-color: #ecf5ee;
  position: absolute;
  bottom: 0;
  right: 0;
}

.c-explore__cards--features .c-explore__card p b {
  color: #67f6ff;
}
.c-explore__cards--features .c-explore__card:nth-child(1)::after {
  content: "";
  width: 3.75vw;
  height: 3.75vw;
  background-color: #ecf5ee;
  position: absolute;
  top: 0;
  right: 0;
}
.c-explore__cards--features .c-explore__card:nth-child(2)::before {
  content: "";
  width: 3.75vw;
  height: 3.75vw;
  background-color: #252926;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}
.c-explore__cards--features .c-explore__card:nth-child(3)::before {
  content: "";
  width: 3.75vw;
  height: 3.75vw;
  background-color: #252926;
  position: absolute;
  top: 7.5vw;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.c-explore__cards--features .c-explore__card:nth-child(3)::after {
  content: "";
  width: 3.75vw;
  height: 3.75vw;
  background-color: #ecf5ee;
  position: absolute;
  left: 0;
  bottom: 0;
}
.c-explore__card {
  padding: 1.8vw 1.45vw 0 1.18vw;
  height: 22.5vw;
  background-color: #252926;
  background-size: cover;
  position: relative;
}
.c-explore__card p {
  font-family: "Roboto";
  font-size: 1.38vw;
  line-height: 2.22vw;
  color: #ecf5ee;
}
.c-explore__card p b {
  color: #e6ff83;
  font-family: "Roboto";
  display: block;
  font-weight: 500;
  font-size: 1.8vw;
  line-height: 2.77vw;
}

.c-cat {
  position: absolute;
  bottom: 0;
  left: 61.32vw;
  width: 13.75vw;
  height: 6.25vw;
}
.c-cat .c-cat__gif {
  width: 60%;
  position: absolute;
  left: 0;
  top: 0;
}
.c-cat .c-cat__img {
  width: 17.67%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.c-faq {
  display: none;
  margin-top: 7.84vw;
}
.c-faq h2 {
  margin-bottom: 2.36vw;
}

.c-accordion__wrapper {
  margin-left: 8.33vw;
  max-width: 58.19vw;
}
.c-accordion__wrapper .c-accordion:first-child::before {
  display: none;
}

.c-accordion {
  position: relative;
  z-index: 2;
}
.c-accordion::before {
  content: "";
  height: 0.138vw;
  width: 100%;
  background-image: url("../img/dotted-border.png");
  background-size: 100% 0.138vw;
  position: absolute;
  top: -0.138vw;
  left: 0;
}

.c-accordion__btn {
  background-color: transparent;
  font-family: "Roboto";
  font-size: 2.08vw;
  color: #252926;
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 5.069vw;
  text-align: left;
  border: none;
  outline: none;
}
.c-accordion__btn::after {
  content: "";
  display: inline-block;
  width: 1.25vw;
  height: 2.08vw;
  background-image: url("../img/arrow-right-big.svg");
  background-size: cover;
  margin-left: 1.04vw;
  -webkit-transform: translateY(0.208vw);
          transform: translateY(0.208vw);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.c-accordion__btn.active::after {
  -webkit-transform: translateY(0.208vw) rotate(90deg);
          transform: translateY(0.208vw) rotate(90deg);
}

.c-panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.c-panel p {
  color: #252926;
  font-family: "Roboto";
  font-size: 1.66vw;
  line-height: 2.77vw;
  padding: 0 0 1.45vw;
}

.c-footer {
  padding: 5.48vw 0;
  margin-top: 13.47vw;
  background-color: #252926;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-footer__logo {
  width: 6.11vw;
  margin-bottom: 2.84vw;
}
.c-footer__logo img {
  width: 100%;
}

.c-footer__text {
  color: #ecf5ee;
  font-size: 0.97vw;
  line-height: 2.01vw;
  text-align: center;
}
.c-footer__text .u-a {
  color: inherit;
  font-weight: bold;
}
.c-footer__text .u-a::after {
  background-color: #ecf5ee;
  bottom: 0.14vw;
}

.c-join {
  margin: 9.44vw 0 7.84vw;
}
.c-join::before, .c-join::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 92.5vw;
  height: 0.83vw;
  background-image: url("../img/block-border.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.c-join h2 {
  font-size: 3.125vw;
  line-height: 3.47vw;
  text-transform: uppercase;
  margin-bottom: 1.73vw;
}
.c-join h2:first-child {
  margin-top: 6.8vw;
}
.c-join p {
  max-width: 64.3vw;
  margin-bottom: 2.77vw;
}
.c-join .c-button--black:last-child {
  margin-bottom: 7.56vw;
}

.c-button--white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26.32vw;
  height: 3.75vw;
  border: none;
  background-color: transparent;
  color: #252926;
  border: 2px solid #252926;
  font-weight: 700;
  font-size: 2.08vw;
  line-height: 3.47vw;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin-bottom: 8.75vw;
}
.c-button--white::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
  border: 5px solid #e6ff83;
  pointer-events: none;
}

.c-button--black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8.75vw;
  width: 26.32vw;
  height: 3.75vw;
  border: none;
  background-color: #252926;
  color: #ecf5ee;
  font-weight: 700;
  font-size: 2.08vw;
  line-height: 3.47vw;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.c-button--black::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
  border: 5px solid #e6ff83;
  pointer-events: none;
}

.u-dot {
  width: 0.41vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u-inline-block {
  display: inline-block;
}

.c-cursor {
  display: inline-block;
  background-color: #00ff39;
  margin-left: 0.69vw;
  width: 0.07vw;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}
.c-cursor.typing {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes blink {
  0% {
    background-color: #00ff39;
  }
  49% {
    background-color: #00ff39;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #00ff39;
  }
}

@keyframes blink {
  0% {
    background-color: #00ff39;
  }
  49% {
    background-color: #00ff39;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #00ff39;
  }
}
.c-main-video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.c-white-star {
  width: 0.07vw;
  height: 0.07vw;
  background-color: #ecf5ee;
  position: absolute;
  z-index: 0;
  -webkit-animation: 4s infinite star-twinkle;
          animation: 4s infinite star-twinkle;
}

.c-blue-star {
  width: 0.07vw;
  height: 0.07vw;
  background-color: #0057ff;
  position: absolute;
  z-index: 0;
  -webkit-animation: 4s infinite star-twinkle;
          animation: 4s infinite star-twinkle;
}

.c-big-star {
  position: absolute;
  z-index: -1;
  -webkit-animation: infinite linear;
          animation: infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes star-twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes star-twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate-stars {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-stars {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-stars-reverse {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotate-stars-reverse {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.c-cookie__wrapper {
  position: fixed;
  bottom: 1.66vw;
  left: 50%;
  -webkit-transform: translate(-50%, 200%);
          transform: translate(-50%, 200%);
  visibility: hidden;
  padding: 0 3.33vw;
  -webkit-column-gap: 6.25vw;
     -moz-column-gap: 6.25vw;
          column-gap: 6.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
  height: 9.3vw;
  background: #ffcbcb;
  border: 0.41vw solid #e6ff83;
  z-index: 111;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.c-cookie__wrapper.hide {
  -webkit-transform: translate(-50%, 200%);
          transform: translate(-50%, 200%);
  visibility: hidden;
}
.c-cookie__wrapper.show {
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  visibility: visible;
}

.c-cookie__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.38vw;
  line-height: 2.08vw;
}

.c-cookie__button {
  font-weight: 700;
  font-size: 1.38vw;
  line-height: 2.56vw;
  text-transform: uppercase;
  width: 12.08vw;
  height: 2.77vw;
  background: #ecf5ee;
  border: 0.138vw solid #252926;
}