:root {
	--viewport-width: 1440px;
}

* {
	color: #252926;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto Mono";
}

html {
	scroll-behavior: smooth;
}

body {
	background: #ecf5ee;
}

h2 {
	font-weight: 700;
	font-size: calc(4.16 * var(--viewport-width) / 100);
	line-height: calc(6.04 * var(--viewport-width) / 100);
}

h3 {
	font-family: "Roboto";
	font-size: calc(3.05 * var(--viewport-width) / 100);
	line-height: calc(3.47 * var(--viewport-width) / 100);
	margin-bottom: calc(0.83 * var(--viewport-width) / 100);
	text-transform: uppercase;
	font-weight: 400;
}

h4 {
	font-weight: 700;
	font-size: calc(2.08 * var(--viewport-width) / 100);
	line-height: calc(3.47 * var(--viewport-width) / 100);
	text-transform: uppercase;
	margin-bottom: calc(1.38 * var(--viewport-width) / 100);
}

b {
	font-weight: 700;
}

p {
	font-weight: 300;
	font-size: calc(2.08 * var(--viewport-width) / 100);
	line-height: calc(3.47 * var(--viewport-width) / 100);

	img {
		transform: translateY(15%) scale(1.54);
		width: calc(2.36 * var(--viewport-width) / 100);
		margin: 0 calc(0.69 * var(--viewport-width) / 100);
	}
}

button {
	cursor: pointer;
}

.u-red {
	color: #ff5151;
}

.u-purple {
	color: #8b62ff;
}

.u-rainbow {
	padding-right: calc(3.47 * var(--viewport-width) / 100);
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: calc(0.65 * var(--viewport-width) / 100);
		left: calc(-0.41 * var(--viewport-width) / 100);
		width: 100%;
		height: calc(3.75 * var(--viewport-width) / 100);
		z-index: -1;
		background-image: url("../img/rainbow.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.u-color--pink {
	color: rgba(253, 151, 255, 1);
}
.u-color--green {
	color: rgba(194, 255, 93, 1);
}
.u-color--teal {
	color: rgba(0, 255, 194, 1);
}
.u-color--purple {
	color: rgba(178, 176, 255, 1);
}
.u-color--yellow {
	color: rgba(230, 255, 131, 1);
}
.u-color--aqua {
	color: rgba(80, 255, 244, 1);
}
.u-color--orange {
	color: rgba(252, 255, 93, 1);
}

.u-show--mobile {
	display: none;
}

.u-a {
	text-decoration: none;
	position: relative;

	&::after {
		content: "";
		height: calc(0.07 * var(--viewport-width) / 100);
		width: 100%;
		position: absolute;
		background-color: #252926;
		bottom: calc(0.27 * var(--viewport-width) / 100);
		left: 0;
	}
}

.u-underline {
	text-decoration: underline calc(0.07 * var(--viewport-width) / 100);
	text-underline-offset: calc(0.21 * var(--viewport-width) / 100);
}

.o-container {
	max-width: var(--viewport-width);
	margin: 0 auto;
	padding: 0 calc(4.16 * var(--viewport-width) / 100);
}

.c-header {
	margin-top: calc(1.31 * var(--viewport-width) / 100);
}

.c-header__logo {
	width: calc(8.4 * var(--viewport-width) / 100);
	display: inline-block;
	margin-right: calc(0.97 * var(--viewport-width) / 100);

	img {
		width: 100%;
	}
}

.c-header__desc {
	display: inline-block;
	width: calc(15.2 * var(--viewport-width) / 100);

	img {
		width: 100%;
	}
}

.c-main {
	margin-top: calc(6.25 * var(--viewport-width) / 100);
}

.c-main__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.c-main__img {
	max-width: calc(64.79 * var(--viewport-width) / 100);
	margin-bottom: calc(7.5 * var(--viewport-width) / 100);

	img {
		width: 100%;
	}
}

.c-main-buttons__wrapper {
	display: flex;
	justify-content: center;
	column-gap: calc(1.59 * var(--viewport-width) / 100);
}

.c-button {
	cursor: pointer;
	display: flex;
	position: relative;
	width: calc(23.61 * var(--viewport-width) / 100);
	height: calc(3.75 * var(--viewport-width) / 100);
	border: 0;
	font-weight: 700;
	font-size: calc(2.08 * var(--viewport-width) / 100);
	line-height: calc(3.47 * var(--viewport-width) / 100);
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	color: #252926;
}

.c-button--green {
	background: #00ff39;

	&::before {
		content: "";
		width: 100%;
		height: calc(3.54 * var(--viewport-width) / 100);
		background-image: url("../img/green-btn-before.png");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: left bottom;
		position: absolute;
		top: calc(0.07 * var(--viewport-width) / 100);
		left: 0;
		transform: translateY(-100%);
		pointer-events: none;
	}
}

.c-button--yellow {
	background: #e6ff83;

	&::before {
		content: "";
		width: 100%;
		height: calc(3.54 * var(--viewport-width) / 100);
		background-image: url("../img/yellow-btn-before.png");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: left bottom;
		position: absolute;
		top: calc(0.07 * var(--viewport-width) / 100);
		left: 0;
		transform: translateY(-100%);
		pointer-events: none;
	}

	&::after {
		content: "";
		width: calc(4.86 * var(--viewport-width) / 100);
		height: calc(8.68 * var(--viewport-width) / 100);
		background-image: url("../img/rabbit.gif");
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		bottom: 0;
		right: calc(-1.94 * var(--viewport-width) / 100);
		transform: translateX(100%);
		pointer-events: none;
	}
}

.c-subtitle-block {
	background-color: #252926;
	background-image: url("../img/undertitle-bg.png");
	background-size: cover;
	padding: calc(10.41 * var(--viewport-width) / 100) 0
		calc(14.23 * var(--viewport-width) / 100);
	position: relative;
	z-index: 2;
	margin-top: calc(3.75 * var(--viewport-width) / 100);

	.c-green-star:nth-child(2n) {
		animation-name: rotate-stars-reverse;
	}

	.c-green-star:nth-child(1) {
		top: calc(2.63 * var(--viewport-width) / 100);
		right: calc(45.48 * var(--viewport-width) / 100);
	}

	.c-green-star:nth-child(2) {
		top: calc(23.4 * var(--viewport-width) / 100);
		right: calc(24.02 * var(--viewport-width) / 100);
	}
	.c-green-star:nth-child(3) {
		bottom: calc(4.02 * var(--viewport-width) / 100);
		left: calc(38.54 * var(--viewport-width) / 100);
	}

	h2 {
		color: #e0ede3;

		.u-red {
			position: relative;

			&::after {
				display: none;
				content: "";
				width: calc(0.07 * var(--viewport-width) / 100);
				height: calc(5 * var(--viewport-width) / 100);
				position: absolute;
				top: 50%;
				right: calc(-1.04 * var(--viewport-width) / 100);
				transform: translateY(-50%);
				background-color: #00ff39;
			}
		}
	}

	&::after {
		content: "";
		width: calc(7.5 * var(--viewport-width) / 100);
		height: calc(10.97 * var(--viewport-width) / 100);
		background-image: url("../img/subtitle-block-after.png");
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		bottom: calc(3.68 * var(--viewport-width) / 100);
		right: 0;
		transform: translateY(100%);
	}
}

.c-angry-robot {
	position: absolute;
	width: calc(4.79 * var(--viewport-width) / 100);
	bottom: calc(16.18 * var(--viewport-width) / 100);
	right: calc(13.88 * var(--viewport-width) / 100);
	animation: moveX 6s linear 0s infinite alternate,
		moveY 10s linear 0s infinite alternate;

	img {
		width: 100%;
	}
}

@keyframes moveX {
	from {
		right: calc(30.88 * var(--viewport-width) / 100);
	}
	to {
		right: 0vw;
	}
}

@keyframes moveY {
	from {
		bottom: calc(100% - calc(4.79 * var(--viewport-width) / 100));
	}
	to {
		bottom: calc(5 * var(--viewport-width) / 100);
	}
}

@keyframes moveXmobile {
	from {
		right: calc(100% - 68px);
	}
	to {
		right: 0;
	}
}

@keyframes moveYmobile {
	from {
		bottom: 180px;
	}
	to {
		bottom: 0;
	}
}

.c-intro {
	background-color: #e6ff83;
	padding: calc(8.125 * var(--viewport-width) / 100) 0
		calc(11.11 * var(--viewport-width) / 100);
	position: relative;

	.c-logo--text {
		width: calc(13.4 * var(--viewport-width) / 100);
	}

	.c-dog {
		width: calc(4.86 * var(--viewport-width) / 100);
		transform: translateY(8%);
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: calc(3.75 * var(--viewport-width) / 100);
		height: calc(3.75 * var(--viewport-width) / 100);
		background-color: #ecf5ee;
	}
}

.c-info {
	padding-top: calc(8.26 * var(--viewport-width) / 100);
	position: relative;

	h2 {
		text-transform: uppercase;
		margin-bottom: calc(5.06 * var(--viewport-width) / 100);
	}

	.c-big-star:nth-child(2n) {
		animation: infinite linear rotate-stars-reverse 5s;
	}

	.c-big-star:nth-child(1) {
		top: calc(19.4 * var(--viewport-width) / 100);
		right: calc(14.37 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(2) {
		top: calc(47.2 * var(--viewport-width) / 100);
		right: calc(25.34 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(3) {
		top: calc(52.7 * var(--viewport-width) / 100);
		left: calc(28.68 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(4) {
		top: calc(77.01 * var(--viewport-width) / 100);
		right: calc(14.37 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(5) {
		top: calc(147.08 * var(--viewport-width) / 100);
		right: calc(9.93 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(6) {
		top: calc(150.69 * var(--viewport-width) / 100);
		right: calc(32.15 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(7) {
		top: 50%;
		right: calc(18.125 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(8) {
		bottom: calc(34.58 * var(--viewport-width) / 100);
		right: calc(37.01 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(9) {
		bottom: calc(16.38 * var(--viewport-width) / 100);
		right: calc(14.65 * var(--viewport-width) / 100);
	}
}

.c-info {
	p {
		max-width: calc(69.375 * var(--viewport-width) / 100);
		padding-left: calc(3.4 * var(--viewport-width) / 100);
		margin-bottom: calc(6.45 * var(--viewport-width) / 100);
	}

	.u-margin-fix {
		margin-bottom: calc(5.625 * var(--viewport-width) / 100);
	}
}

.c-info__text {
	font-size: calc(0.9 * var(--viewport-width) / 100);
	line-height: calc(1.59 * var(--viewport-width) / 100);
	max-width: calc(14.3 * var(--viewport-width) / 100);

	&::before {
		content: "";
		display: block;
		margin-bottom: calc(0.41 * var(--viewport-width) / 100);
		width: calc(0.69 * var(--viewport-width) / 100);
		height: calc(1.04 * var(--viewport-width) / 100);
		background-image: url("../img/arrow-right.svg");
		background-size: cover;
	}
}

.c-info__nfc {
	display: flex;
	align-items: flex-start;
	padding-left: calc(3.4 * var(--viewport-width) / 100);
	margin-bottom: calc(6.66 * var(--viewport-width) / 100);

	.c-phone-nfc__wrapper {
		position: relative;
		margin-right: calc(18.33 * var(--viewport-width) / 100);
	}

	.c-phone-nfc__img {
		display: flex;
	}

	&.animate {
		.c-connection-video {
			animation: connection 8s 2s ease;
			animation-fill-mode: forwards;
		}

		.c-hito-orange {
			animation: hito-animation 4s 2s ease-in-out;
			animation-fill-mode: forwards;
		}
	}

	.c-connection-video {
		position: absolute;
		top: calc(4.16 * var(--viewport-width) / 100);
		left: calc(0.69 * var(--viewport-width) / 100);
		width: calc(100% -calc(1.38 * var(--viewport-width) / 100));
		opacity: 0;
		visibility: hidden;
	}

	.c-phone-nfc {
		width: calc(11.38 * var(--viewport-width) / 100);
	}

	.c-hito-orange {
		margin-top: calc(7.22 * var(--viewport-width) / 100);
		width: calc(9.3 * var(--viewport-width) / 100);
		margin-right: calc(3.75 * var(--viewport-width) / 100);
	}
}

@keyframes connection {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	50% {
		opacity: 0;
		visibility: hidden;
	}
	51% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes hito-animation {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-19.79 * var(--viewport-width) / 100));
	}
}

.c-info__display {
	display: flex;
	align-items: center;
	padding-left: calc(3.4 * var(--viewport-width) / 100);
	margin-bottom: calc(6.66 * var(--viewport-width) / 100);

	.c-hito-display {
		width: calc(49.375 * var(--viewport-width) / 100);
		margin-right: calc(3.75 * var(--viewport-width) / 100);
	}

	.c-info__text {
		margin-top: calc(4.16 * var(--viewport-width) / 100);
	}
}

.c-info__size {
	display: flex;
	align-items: flex-start;
	padding-left: calc(3.04 * var(--viewport-width) / 100);
	margin-bottom: calc(6.66 * var(--viewport-width) / 100);

	.c-lighter {
		margin: calc(4.09 * var(--viewport-width) / 100)
			calc(6.73 * var(--viewport-width) / 100) 0
			calc(3.95 * var(--viewport-width) / 100);
		width: calc(6.04 * var(--viewport-width) / 100);
		height: calc(25.76 * var(--viewport-width) / 100);
		position: relative;

		.c-lighter__gif {
			width: calc(2.43 * var(--viewport-width) / 100);
			position: absolute;
			top: calc(-0.97 * var(--viewport-width) / 100);
			left: calc(0.69 * var(--viewport-width) / 100);
		}

		.c-lighter__img {
			width: calc(5.69 * var(--viewport-width) / 100);
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}

	.c-hito-size {
		width: calc(33.125 * var(--viewport-width) / 100);
		margin-right: calc(3.75 * var(--viewport-width) / 100);
	}
}

.c-explore {
	position: relative;
	padding-top: calc(0.76 * var(--viewport-width) / 100);

	h2 {
		text-transform: uppercase;
		margin-bottom: calc(4.51 * var(--viewport-width) / 100);
	}

	.c-big-star:nth-child(2n) {
		animation: infinite linear rotate-stars-reverse 5s;
	}

	.c-big-star:nth-child(1) {
		top: calc(3.4 * var(--viewport-width) / 100);
		right: calc(47.43 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(2) {
		top: calc(35.2 * var(--viewport-width) / 100);
		right: calc(5.9 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(3) {
		bottom: calc(20.97 * var(--viewport-width) / 100);
		left: calc(42.56 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(4) {
		bottom: calc(29.58 * var(--viewport-width) / 100);
		right: calc(41.45 * var(--viewport-width) / 100);
	}
	.c-big-star:nth-child(5) {
		bottom: calc(24.02 * var(--viewport-width) / 100);
		right: calc(17.56 * var(--viewport-width) / 100);
	}
}

.c-explore__wrapper {
	padding-left: calc(8.33 * var(--viewport-width) / 100);
}

.c-explore__cards {
	max-width: calc(75 * var(--viewport-width) / 100);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: calc(3.6 * var(--viewport-width) / 100);
	row-gap: calc(3.6 * var(--viewport-width) / 100);
}

.c-explore__cards--security {
	margin-bottom: calc(3.19 * var(--viewport-width) / 100);

	.c-explore__card:nth-child(1) {
		&::after {
			content: "";
			width: calc(3.75 * var(--viewport-width) / 100);
			height: calc(3.75 * var(--viewport-width) / 100);
			background-color: #ecf5ee;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.c-explore__card:nth-child(2) {
		background-image: url("../img/explore-bg1.png");

		&::before {
			content: "";
			width: calc(3.75 * var(--viewport-width) / 100);
			height: calc(3.75 * var(--viewport-width) / 100);
			background-color: #252926;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateX(-100%);
		}
	}
	.c-explore__card:nth-child(3) {
		background-image: url("../img/explore-bg2.png");

		&::before {
			content: "";
			width: calc(3.75 * var(--viewport-width) / 100);
			height: calc(3.75 * var(--viewport-width) / 100);
			background-color: #252926;
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-100%);
		}
		&::after {
			content: "";
			width: calc(3.75 * var(--viewport-width) / 100);
			height: calc(3.75 * var(--viewport-width) / 100);
			background-color: #ecf5ee;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

.c-explore__cards--features {
	.c-explore__card {
		p b {
			color: #67f6ff;
		}
	}

	.c-explore__card:nth-child(1) {
		background-image: url("../img/explore-bg3.png");

		&::after {
			content: "";
			width: calc(3.75 * var(--viewport-width) / 100);
			height: calc(3.75 * var(--viewport-width) / 100);
			background-color: #ecf5ee;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.c-explore__card:nth-child(2) {
		&::before {
			content: "";
			width: calc(3.75 * var(--viewport-width) / 100);
			height: calc(3.75 * var(--viewport-width) / 100);
			background-color: #252926;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translate(-100%, 100%);
		}
	}
	.c-explore__card:nth-child(3) {
		background-image: url("../img/explore-bg4.png");

		&::before {
			content: "";
			width: calc(3.75 * var(--viewport-width) / 100);
			height: calc(3.75 * var(--viewport-width) / 100);
			background-color: #252926;
			position: absolute;
			top: calc(7.5 * var(--viewport-width) / 100);
			left: 0;
			transform: translateX(-100%);
		}
		&::after {
			content: "";
			width: calc(3.75 * var(--viewport-width) / 100);
			height: calc(3.75 * var(--viewport-width) / 100);
			background-color: #ecf5ee;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}

	.c-explore__card:nth-child(4) {
		background-image: url("../img/explore-bg5.png");
	}
}

.c-explore__card {
	padding: calc(1.8 * var(--viewport-width) / 100)
		calc(1.45 * var(--viewport-width) / 100) 0
		calc(1.18 * var(--viewport-width) / 100);
	height: calc(22.5 * var(--viewport-width) / 100);
	background-color: #252926;
	background-size: cover;
	position: relative;

	p {
		font-family: "Roboto";
		font-size: calc(1.38 * var(--viewport-width) / 100);
		line-height: calc(2.22 * var(--viewport-width) / 100);
		color: #ecf5ee;

		b {
			color: #e6ff83;
			font-family: "Roboto";
			display: block;
			font-weight: 500;
			font-size: calc(1.8 * var(--viewport-width) / 100);
			line-height: calc(2.77 * var(--viewport-width) / 100);
		}
	}
}

.c-cat {
	position: absolute;
	bottom: 0;
	left: calc(61.32 * var(--viewport-width) / 100);
	width: calc(13.75 * var(--viewport-width) / 100);
	height: calc(6.25 * var(--viewport-width) / 100);

	.c-cat__gif {
		width: 60%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.c-cat__img {
		width: 17.67%;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.c-faq {
	margin-top: calc(7.84 * var(--viewport-width) / 100);

	h2 {
		margin-bottom: calc(2.36 * var(--viewport-width) / 100);
	}
}

.c-accordion__wrapper {
	margin-left: calc(3.4 * var(--viewport-width) / 100);
	max-width: calc(68 * var(--viewport-width) / 100);

	.c-accordion:first-child {
		&::before {
			display: none;
		}
	}
}

.c-accordion {
	position: relative;
	z-index: 2;

	&::before {
		content: "";
		height: calc(0.138 * var(--viewport-width) / 100);
		width: 100%;
		background-image: url("../img/dotted-border.png");
		background-size: 100% calc(0.138 * var(--viewport-width) / 100);
		position: absolute;
		top: calc(-0.138 * var(--viewport-width) / 100);
		left: 0;
	}
}

.c-accordion__btn {
	background-color: transparent;
	font-family: "Roboto";
	font-size: calc(2.08 * var(--viewport-width) / 100);
	color: #252926;
	cursor: pointer;
	padding: 0;
	width: 100%;
	min-height: calc(5.069 * var(--viewport-width) / 100);
	padding: calc(1 * var(--viewport-width) / 100) 0;
	text-align: left;
	border: none;
	outline: none;

	&::after {
		content: "";
		display: inline-block;
		width: calc(1.25 * var(--viewport-width) / 100);
		height: calc(2.08 * var(--viewport-width) / 100);
		background-image: url("../img/arrow-right-big.svg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-left: calc(1.04 * var(--viewport-width) / 100);
		transform: translateY(calc(0.208 * var(--viewport-width) / 100));
		transition: 0.2s;
	}

	&.active {
		&::after {
			transform: translateY(calc(0.208 * var(--viewport-width) / 100))
				rotate(90deg);
		}
	}
}

.c-panel {
	p {
		color: #252926;
		font-family: "Roboto";
		font-size: calc(1.66 * var(--viewport-width) / 100);
		line-height: calc(2.77 * var(--viewport-width) / 100);
		padding: 0 0 calc(1.45 * var(--viewport-width) / 100);
	}

	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.c-footer {
	padding: calc(5.48 * var(--viewport-width) / 100) 0;
	margin-top: calc(13.47 * var(--viewport-width) / 100);
	background-color: #252926;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.c-footer__logo {
	width: calc(6.11 * var(--viewport-width) / 100);
	margin-bottom: calc(2.84 * var(--viewport-width) / 100);

	img {
		width: 100%;
	}
}

.c-footer__text {
	color: #ecf5ee;
	font-size: calc(0.97 * var(--viewport-width) / 100);
	line-height: calc(2.01 * var(--viewport-width) / 100);
	text-align: center;

	.u-a {
		color: inherit;
		font-weight: bold;

		&::after {
			background-color: #ecf5ee;
			bottom: calc(0.14 * var(--viewport-width) / 100);
		}
	}
}

.c-join {
	margin: calc(9.44 * var(--viewport-width) / 100) 0
		calc(7.84 * var(--viewport-width) / 100);

	&::before,
	&::after {
		content: "";
		display: block;
		margin: 0 auto;
		width: calc(92.5 * var(--viewport-width) / 100);
		height: calc(0.83 * var(--viewport-width) / 100);
		background-image: url("../img/block-border.png");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	h2 {
		font-size: calc(3.125 * var(--viewport-width) / 100);
		line-height: calc(3.47 * var(--viewport-width) / 100);
		text-transform: uppercase;
		margin-bottom: calc(1.73 * var(--viewport-width) / 100);

		&:first-child {
			margin-top: calc(6.8 * var(--viewport-width) / 100);
		}
	}

	p {
		max-width: calc(64.3 * var(--viewport-width) / 100);
		margin-bottom: calc(2.77 * var(--viewport-width) / 100);
	}

	.o-container {
		margin-left: calc(3.4 * var(--viewport-width) / 100);
	}

	.c-button--black:last-child {
		margin-bottom: calc(7.56 * var(--viewport-width) / 100);
	}
}

.c-button--white {
	display: flex;
	justify-content: center;
	width: calc(26.32 * var(--viewport-width) / 100);
	height: calc(3.75 * var(--viewport-width) / 100);
	background-color: transparent;
	color: #252926;
	border: calc(0.13 * var(--viewport-width) / 100) solid #252926;
	font-weight: 700;
	font-size: calc(2.08 * var(--viewport-width) / 100);
	line-height: calc(3.47 * var(--viewport-width) / 100);
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	margin-bottom: calc(8.75 * var(--viewport-width) / 100);

	&::after {
		content: "";
		position: absolute;
		top: calc(-0.41 * var(--viewport-width) / 100);
		left: calc(-0.41 * var(--viewport-width) / 100);
		width: calc(100% + calc(0.13 * var(--viewport-width) / 100));
		height: calc(100% + calc(0.13 * var(--viewport-width) / 100));
		z-index: -1;
		border: calc(0.34 * var(--viewport-width) / 100) solid #e6ff83;
		pointer-events: none;
	}
}

.c-button--black {
	display: flex;
	justify-content: center;
	margin-bottom: calc(8.75 * var(--viewport-width) / 100);
	width: calc(26.32 * var(--viewport-width) / 100);
	height: calc(3.75 * var(--viewport-width) / 100);
	border: none;
	background-color: #252926;
	color: #ecf5ee;
	font-weight: 700;
	font-size: calc(2.08 * var(--viewport-width) / 100);
	line-height: calc(3.47 * var(--viewport-width) / 100);
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: calc(-0.41 * var(--viewport-width) / 100);
		left: calc(-0.41 * var(--viewport-width) / 100);
		width: calc(100% + calc(0.13 * var(--viewport-width) / 100));
		height: calc(100% + calc(0.13 * var(--viewport-width) / 100));
		z-index: -1;
		border: calc(0.34 * var(--viewport-width) / 100) solid #e6ff83;
		pointer-events: none;
	}
}

.u-dot {
	width: calc(0.41 * var(--viewport-width) / 100);
	display: inline-flex;
	justify-content: center;
}

.u-inline-block {
	display: inline-block;
}

.c-cursor {
	display: inline-block;
	background-color: #00ff39;
	margin-left: calc(0.69 * var(--viewport-width) / 100);
	width: calc(0.07 * var(--viewport-width) / 100);
	animation: blink 1s infinite;
	&.typing {
		animation: none;
	}
}

@keyframes blink {
	0% {
		background-color: #00ff39;
	}
	49% {
		background-color: #00ff39;
	}
	50% {
		background-color: transparent;
	}
	99% {
		background-color: transparent;
	}
	100% {
		background-color: #00ff39;
	}
}

.c-main-video {
	width: var(--viewport-width);
}
.c-bg-video__wrapper {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #f1f2f0;
	z-index: -1;
}
.c-white-star {
	width: calc(0.13 * var(--viewport-width) / 100);
	height: calc(0.13 * var(--viewport-width) / 100);
	background-color: #ecf5ee;
	position: absolute;
	z-index: 0;
	animation: 4s infinite star-twinkle;
}

.c-blue-star {
	width: calc(0.13 * var(--viewport-width) / 100);
	height: calc(0.13 * var(--viewport-width) / 100);
	background-color: #0057ff;
	position: absolute;
	z-index: 0;
	animation: 4s infinite star-twinkle;
}

.c-big-star {
	position: absolute;
	z-index: -1;
	animation: infinite linear rotate-stars 5s;
	transform-origin: center;

	svg {
		width: calc(0.83 * var(--viewport-width) / 100);
		height: calc(0.83 * var(--viewport-width) / 100);
	}
}

.c-green-star {
	position: absolute;
	z-index: -1;
	animation: infinite linear rotate-stars 5s;
	transform-origin: center;

	svg {
		width: calc(0.7 * var(--viewport-width) / 100);
		height: calc(0.7 * var(--viewport-width) / 100);
	}
}

@keyframes star-twinkle {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes rotate-stars {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate-stars-reverse {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.c-cookie__wrapper {
	position: fixed;
	bottom: calc(1.66 * var(--viewport-width) / 100);
	left: 50%;
	transform: translate(-50%, 200%);
	visibility: hidden;
	padding: 0 calc(3.33 * var(--viewport-width) / 100);
	column-gap: calc(6.25 * var(--viewport-width) / 100);
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(75 * var(--viewport-width) / 100);
	height: calc(9.3 * var(--viewport-width) / 100);
	background: #ffcbcb;
	border: calc(0.41 * var(--viewport-width) / 100) solid #e6ff83;
	z-index: 111;
	transition: all 0.4s ease-in-out;

	&.hide {
		transform: translate(-50%, 200%);
		visibility: hidden;
	}

	&.show {
		transform: translate(-50%, 0%);
		visibility: visible;
	}
}

.c-cookie__text {
	font-family: "Roboto";
	font-weight: 400;
	font-size: calc(1.38 * var(--viewport-width) / 100);
	line-height: calc(2.08 * var(--viewport-width) / 100);

	a {
		font-family: "Roboto";
		text-underline-offset: calc(0.11 * var(--viewport-width) / 100);
	}
}

.c-cookie__button {
	font-weight: 700;
	font-size: calc(1.38 * var(--viewport-width) / 100);
	line-height: calc(2.56 * var(--viewport-width) / 100);
	text-transform: uppercase;
	width: calc(12.08 * var(--viewport-width) / 100);
	height: calc(2.77 * var(--viewport-width) / 100);
	background: #ecf5ee;
	border: calc(0.138 * var(--viewport-width) / 100) solid #252926;
	letter-spacing: 0.1em;
}

.c-ecwid__wrapper {
	max-width: 70%;
	margin-bottom: calc(3.47 * var(--viewport-width) / 100);
}

// ecwid styles
html#ecwid_html
	body#ecwid_body
	.ec-size
	.ec-store
	.ec-store__content-wrapper:not(.ec-store__content-wrapper--wide) {
	max-width: 100% !important;
}

html#ecwid_html
	body#ecwid_body
	.ecwid-productBrowser.ecwid-productBrowser-ProductPage {
	padding: 0 !important;
}

.form-control .form-control__button {
	background-color: transparent !important;
	color: #252926 !important;
	border: calc(0.13 * var(--viewport-width) / 100) solid #252926 !important;
	border-radius: 0 !important;
}
